[flake8]
exclude =
    .git,
    __pycache__,
    .venv,
    .env,
    migrations
max-line-length = 120
max-complexity = 10
show-source = True
import-order-style = pep8
application_import_names =
    apps,
    config
require-plugins =
    flake8-bugbear,
    flake8-simplify,
    flake8-builtins,
    pep8-naming,
    flake8-import-order



extend-ignore = F401