# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

/.idea
**/.venv
**/.wenv
**/.env
**/.dev.env

/c300_requirements
/service_data/*
/temp/
/config/local_settings.py

**/*.sqlite*
/*-data/
**/celerybeat-schedule*
/apps/authorization/fixtures/
/apps/authorization/migrations/*
!/apps/authorization/migrations/__init__.py
!/apps/authorization/migrations/0001_initial.py

**/*.log*
!**/.gitkeep

# poetry
poetry.lock