requests~=2.31.0
Django~=4.2.3
djangorestframework~=3.14.0
django-cors-headers~=4.2.0
djangorestframework-simplejwt~=5.3.0
PyJWT~=2.8.0
Pillow~=10.0.0
faust-streaming~=0.10.14
kafka-python~=2.0.2
asgiref~=3.7.2
psycopg~=3.1.10
python-dotenv~=1.0.0
celery~=5.3.1
redis~=5.0.0